{% extends "chess/base.html" %}
{% load static %}

{% block title %}
Rookie Move Chess
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'chess/css/board.css' %}">
{% endblock %}

{% block script %} 
<script src="{% static 'chess/board.js' %}"></script>
{% endblock %}

{% block body %}

    <!--- render board here -->
    <div class="board-container">
        <table id="chessboard">
        <tr>
          <td class="black"><a href="#"></a></td>
          <td class="white"><a href="#"></a></td>
          <td class="black"><a href="#"></a></td>
          <td class="white"><a href="#"></a></td>
          <td class="black"><a href="#"></a></td>
          <td class="white"><a href="#"></a></td>
          <td class="black"><a href="#"></a></td>
          <td class="white"><a href="#"></a></td>
        </tr>
        <tr>
          <td class="white"><a href="#"></a></td>
          <td class="black"><a href="#"></a></td>
          <td class="white"><a href="#"></a></td>
          <td class="black"><a href="#"></a></td>
          <td class="white"><a href="#"></a></td>
          <td class="black"><a href="#"></a></td>
          <td class="white"><a href="#"></a></td>
          <td class="black"><a href="#"></a></td>
        </tr>
        <tr>
            <td class="black"><a href="#"></a></td>
            <td class="white"><a href="#"></a></td>
            <td class="black"><a href="#"></a></td>
            <td class="white"><a href="#"></a></td>
            <td class="black"><a href="#"></a></td>
            <td class="white"><a href="#"></a></td>
            <td class="black"><a href="#"></a></td>
            <td class="white"><a href="#"></a></td>
          </tr>
          <tr>
            <td class="white"><a href="#"></a></td>
            <td class="black"><a href="#"></a></td>
            <td class="white"><a href="#"></a></td>
            <td class="black"><a href="#"></a></td>
            <td class="white"><a href="#"></a></td>
            <td class="black"><a href="#"></a></td>
            <td class="white"><a href="#"></a></td>
            <td class="black"><a href="#"></a></td>
          </tr>
          <tr>
            <td class="black"><a href="#"></a></td>
            <td class="white"><a href="#"></a></td>
            <td class="black"><a href="#"></a></td>
            <td class="white"><a href="#"></a></td>
            <td class="black"><a href="#"></a></td>
            <td class="white"><a href="#"></a></td>
            <td class="black"><a href="#"></a></td>
            <td class="white"><a href="#"></a></td>
          </tr>
          <tr>
            <td class="white"><a href="#"></a></td>
            <td class="black"><a href="#"></a></td>
            <td class="white"><a href="#"></a></td>
            <td class="black"><a href="#"></a></td>
            <td class="white"><a href="#"></a></td>
            <td class="black"><a href="#"></a></td>
            <td class="white"><a href="#"></a></td>
            <td class="black"><a href="#"></a></td>
          </tr>
          <tr>
              <td class="black"><a href="#"></a></td>
              <td class="white"><a href="#"></a></td>
              <td class="black"><a href="#"></a></td>
              <td class="white"><a href="#"></a></td>
              <td class="black"><a href="#"></a></td>
              <td class="white"><a href="#"></a></td>
              <td class="black"><a href="#"></a></td>
              <td class="white"><a href="#"></a></td>
            </tr>
            <tr>
              <td class="white"><a href="#"></a></td>
              <td class="black"><a href="#"></a></td>
              <td class="white"><a href="#"></a></td>
              <td class="black"><a href="#"></a></td>
              <td class="white"><a href="#"></a></td>
              <td class="black"><a href="#"></a></td>
              <td class="white"><a href="#"></a></td>
              <td class="black"><a href="#"></a></td>
            </tr>
        <!-- Repeat for the remaining rows -->
      </table>
      

    </div>
    {% endblock body %}